
<section>
    <div class="container w-75 pt-5">
    <div >
        <h5 >EXPERIENCE</h5>
      <h3 >WORK EXPERIENCE</h3>
    </div>
    
    <div class="py-4">
        <ul class=" list-unstyled">
            <li class="d-flex">
                <i class="fa-solid fa-pencil rounded-circle d-flex justify-content-center align-items-center me-4 icon1"></i>
                <div class="workExperiance p-3">
                    <h2>Full Stack Developer </h2>
                    <strong>2017-2018</strong>
                    <p class="py-4">Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>
                </div>
            </li>

            <li class="d-flex ">
                <i class="fa-solid fa-pencil rounded-circle d-flex justify-content-center align-items-center me-4  icon2"></i>
                <div class="workExperiance p-3 my-4">
                    <h2>Front End Developer at Google Company </h2>
                    <strong>2017-2018</strong>
                    <p class="py-4">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                </div>
            </li>

            <li class="d-flex ">
                <i class="fa-solid fa-pencil rounded-circle d-flex justify-content-center align-items-center me-4  icon3"></i>
                <div class="workExperiance p-3 ">
                    <h2>System Analyst  </h2>
                    <strong>2017-2018</strong>
                    <p class="py-4">Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>
                </div>
            </li>

            <i class=" rounded-circle d-flex justify-content-center align-items-center me-4 my-2 "></i>
        </ul>
    </div>
</div>
</section>