<div class="container w-75 py-5">
    <h5>MY WORK</h5>
    <h3>RECENT WORK</h3>
    <ul class="nav py-1 ">
        <li class="nav-item">
          <a class="nav-link active " aria-current="page" routerLink="work">Graphic Designer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" routerLink="work">app</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" routerLink="work">Software</a>
        </li>
      </ul>
      <div class="row">
        <figure class="col-xl-6 col-sm-12 col-md-6 ">
            <img src="/assets/img-1-C4nS0eD8.jpg"  />
            <figcaption class="p-4">
              <h4>WORK 02</h4>
              <P>Animation</P>
              <div class="icons ">
                <i class="fa-solid fa-share-nodes p-1 m-1 rounded-1"></i>
                <i class="fa-regular fa-eye p-1 m-1 rounded-1 "><span class="text-decoration-underline">100</span></i>
                <i class="fa-regular fa-heart  p-1 m-1 rounded-1"><span class="text-decoration-underline">49</span></i>
              </div>
            </figcaption>
          </figure>
         <figure class="col-xl-6 col-sm-12 col-md-6 ">
            <img src="/assets/img-2-D-4H1m4L.jpg"  />
            <figcaption class="p-4">
              <h4>WORK 02</h4>
              <P>Animation</P>
              <div class="icons ">
                <i class="fa-solid fa-share-nodes p-1 m-1 rounded-1"></i>
                <i class="fa-regular fa-eye p-1 m-1 rounded-1 "><span class="text-decoration-underline">100</span></i>
                <i class="fa-regular fa-heart  p-1 m-1 rounded-1"><span class="text-decoration-underline">49</span></i>
              </div>
            </figcaption>
          </figure>
         <figure class="col-xl-6 col-sm-12 col-md-6 ">
            <img src="/assets/img-3-pR2ZEVY9.jpg"  />
            <figcaption class="p-4">
              <h4>WORK 02</h4>
              <P>Animation</P>
              <div class="icons ">
                <i class="fa-solid fa-share-nodes p-1 m-1 rounded-1"></i>
                <i class="fa-regular fa-eye p-1 m-1 rounded-1 "><span class="text-decoration-underline">100</span></i>
                <i class="fa-regular fa-heart  p-1 m-1 rounded-1"><span class="text-decoration-underline">49</span></i>
              </div>
            </figcaption>
          </figure>
         <figure class="col-xl-6 col-sm-12 col-md-6 ">
            <img src="/assets/img-4-tHccITd-.jpg"  />
            <figcaption class="p-4">
              <h4>WORK 02</h4>
              <P>Animation</P>
              <div class="icons ">
                <i class="fa-solid fa-share-nodes p-1 m-1 rounded-1"></i>
                <i class="fa-regular fa-eye p-1 m-1 rounded-1 "><span class="text-decoration-underline">100</span></i>
                <i class="fa-regular fa-heart  p-1 m-1 rounded-1"><span class="text-decoration-underline">49</span></i>
              </div>
            </figcaption>
          </figure>
         <div class="col-12">
             <button class="btn btn-toggle bg-info w-auto" data-bs-toggle="collapse" data-bs-target="#content" onclick="this.style.display='none'">Show More</button>
         </div>
         <div id="content" class="collapse row ">
        <figure class="col-xl-6 col-sm-12 col-md-6 ">
            <img src="/assets/img-5-lAucr__a.jpg"  />
            <figcaption class="p-4">
              <h4>WORK 02</h4>
              <P>Animation</P>
              <div class="icons ">
                <i class="fa-solid fa-share-nodes p-1 m-1 rounded-1"></i>
                <i class="fa-regular fa-eye p-1 m-1 rounded-1 "><span class="text-decoration-underline">100</span></i>
                <i class="fa-regular fa-heart  p-1 m-1 rounded-1"><span class="text-decoration-underline">49</span></i>
              </div>
            </figcaption>
          </figure>

        <figure class="col-xl-6 col-sm-12 col-md-6 ">
            <img src="/assets/img-6-DFW03AZ3.jpg"  />
            <figcaption class="p-4">
              <h4>WORK 02</h4>
              <P>Animation</P>
              <div class="icons ">
                <i class="fa-solid fa-share-nodes p-1 m-1 rounded-1"></i>
                <i class="fa-regular fa-eye p-1 m-1 rounded-1 "><span class="text-decoration-underline">100</span></i>
                <i class="fa-regular fa-heart  p-1 m-1 rounded-1"><span class="text-decoration-underline">49</span></i>
              </div>
            </figcaption>
          </figure>
         </div>
         
         
         
      </div>
</div>