 <section class="text-center bg-light vh-100 ">
    <div >
        <img src="assets/about-BgAkqdr2.jpg" class="rounded-circle m-4">
        <h3>Jackson Ford</h3>
        <p><span>UI/UX/Designer </span>in Philippines</p>
    </div>
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav list-unstyled ">
        <li class="p-2">
            <a class="text-decoration-none " routerLink="home">Home</a>
        </li>
        <li class="p-2">
            <a class="text-decoration-none " routerLink="about">ABOUTE</a>
        </li>
        <li class="p-2">
            
            <a class="text-decoration-none " routerLink="skills" routerLinkActive="router-link-active"  >SKILLS</a>
        </li>
        <li class="p-2"><a class="text-decoration-none" routerLink="experience" >EXPERIENCE</a>
        </li>
        <li class="p-2"><a class="text-decoration-none"  routerLink="work">WORK</a>
        </li>
    </ul>
</div>  
</section>
 
 